[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
social-auth-app-django = "~=3.1"
python-jose = "~=3.0"
python-dotenv = "~=0.9"
Django = "~=2.1"

[dev-packages]

[requires]
python_version = "3.8"
