{% extends 'layout.html' %}

{% block content %}
<div class="login-page clearfix">
    <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/pdsci7hk90jg6doqcavu" /></h1>
        <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
        <h2>Bienvenido {{ user.username }}</h2>
        <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
    </div>
</div>
{% endblock content %}